.card {
  font-family: Ubuntu,Roboto,Droid Sans,sans-serif;
  width: 550px;
  height: 100%;
  background: #341f6f;
  border-radius: 0px;
  padding: 1rem 1.5rem;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 2px;
  /* border-top: solid 1px coral; */
}

.card:hover h2 a {
  color: #ff8a00;
}

.card:focus-within a:focus {
  text-decoration: none;
}

h2,
a,
p {
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.date a {
  color: grey;
}

a:hover,
a:focus {
  color: #ff8a00;
  outline: none;
}

.author-name {
  display: flex;
  align-items: center;
}

.author-name img {
  height: 36px;
  margin-right: 10px;
  border-radius: 15%;
}

.tags {
  display: flex;
  margin: 10px 0;
  padding: 5px 10px;
  border-top: solid 1px coral;
  border-radius:0px; /* altura do botão é 30px  */
}

.tags > .tag {
  padding: 5px 10px;
  border: solid 1px grey;
  border-radius:15px; /* altura do botão é 30px  */
}


.tags > .category {
  margin-left: -10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px grey;
  border-radius:0px; /* altura do botão é 30px  */
}

.tags .tag:hover {
  background: gray;
}

a.tag+a.tag {
  margin-left: 10px;
}

ai-blocklink {
  border: solid 0px white;
}
